{{>header}}

<h1>
    Services
</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores officia error, distinctio facilis possimus quae laborum commodi ipsam. Voluptates ad necessitatibus animi perferendis deserunt autem numquam aut enim doloribus asperiores.</p>

{{>footer}}